[submodule "elephant-flex-prac"]
	path = elephant-flex-prac
	url = https://github.com/Akshay-Tarde/elephant-flex-prac.git
[submodule "blog-site"]
	path = blog-site
	url = https://github.com/Akshay-Tarde/blog-site.git
